### Python Operators

In [1]:
# arithmetic operators
print (100 + 40)    # addition operation
print (100 - 40)    # subtraction operation
print (100 * 40)    # multiplication operation
print (100 / 40)    # float division operation
print (100 // 40)   # integer division operation
print (100 % 40)    # modulus (mod) operation
print (100 ** 4)    # exponentiation operation

140
60
4000
2.5
2
20
100000000

In [2]:
# relational operators
print (100 > 20, 100 >= 20, 100 < 20, 100 <= 20, 100 == 20, 100 != 20)
print (100 > 200, 100 >= 200, 100 < 200, 100 <= 200, 100 == 200, 100 != 200)

True True False False False True
False False True True False True

In [6]:
# logical operators
print (100 > 20 and 100 > 200)
print (True and True, True and False, False and True, False and False)
print (True or True, True or False, False or True, False or False)
print (not True, not False)

False
True False False False
True True True False
False True

### Python Conditional Statements

In [17]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
num3 = int(input("Please enter the third number: "))
if (num1 >= num2):
    if (num1 >= num3):
        print ("The first number is the maximum number...")
        print ("Maximum:", num1)
    else:
        print ("The third number is the maximum number...")
        print ("Maximum:", num3)
elif (num2 >= num3):
    print ("The second number is the maximum number...")
    print ("Maximum:", num2)
else:
    print ("The third number is the maximum number...")
    print ("Maximum:", num3)
print ("End of the program...")

Please enter the first number:  300
Please enter the second number:  100
Please enter the third number:  200

The first number is the maximum number...
Maximum: 300
End of the program...

In [44]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
num3 = int(input("Please enter the third number: "))
if (num1 >= num2 and num1 >= num3):
    print ("The first number is the maximum number...")
    print ("Maximum:", num1)
elif (num2 >= num3):
    print ("The second number is the maximum number...")
    print ("Maximum:", num2)
else:
    print ("The third number is the maximum number...")
    print ("Maximum:", num3)
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  300
Please enter the third number:  200

The second number is the maximum number...
Maximum: 300
End of the program...

### Python Loops

In [23]:
i = 1
while (i <= 8):
    print ("Looping for i =", i)
    i = i + 1
print ("End of the program...")

Looping for i = 1
Looping for i = 2
Looping for i = 3
Looping for i = 4
Looping for i = 5
Looping for i = 6
Looping for i = 7
Looping for i = 8
End of the program...

In [25]:
i = 1
while (i <= 8):
    print ("Looping for i =", i)
    if (i == 5): break
    i = i + 1
else:
    print ("Else block is executing...")
print ("End of the program...")

Looping for i = 1
Looping for i = 2
Looping for i = 3
Looping for i = 4
Looping for i = 5
End of the program...

In [26]:
for i in range(8):
    print ("Looping for i =",i)
print ("End of the program...")

Looping for i = 0
Looping for i = 1
Looping for i = 2
Looping for i = 3
Looping for i = 4
Looping for i = 5
Looping for i = 6
Looping for i = 7
End of the program...

In [27]:
for i in range(1, 10, 2):
    print ("Looping for i =",i)
print ("End of the program...")

Looping for i = 1
Looping for i = 3
Looping for i = 5
Looping for i = 7
Looping for i = 9
End of the program...

In [29]:
for i in range(8):
    print ("Looping for i =",i)
    if (i == 5): break
else:
    print ("Executing the ELSE block...")
print ("End of the program...")

Looping for i = 0
Looping for i = 1
Looping for i = 2
Looping for i = 3
Looping for i = 4
Looping for i = 5
End of the program...

In [34]:
print ("Hello " * 5)
print ("Welcome !!! " * 5)

Hello Hello Hello Hello Hello
Welcome !!! Welcome !!! Welcome !!! Welcome !!! Welcome !!!

In [ ]:
n = 6          i    .    *
             ---------------
.....*         1    5    1
....***        2    4    3   . => (n - i)
...*****       3    3    5
..*******      4    2    7   * => 2 * i - 1
.*********     5    1    9
***********    6    0   11
             ---------------

In [39]:
n = int(input("Please enter the number of levels: "))
for i in range(1, n + 1):
    print ("." * (n - i) + "*" * (2 * i - 1))
print ("End of the program...")

Please enter the number of levels:  6

.....*
....***
...*****
..*******
.*********
***********
End of the program...

In [42]:
# Find the factorial of a given number
# n! = 1 * 2 * 3 * 4 * ... * n
# n! = n * (n - 1) * (n - 2) * (n - 3) * ... * 1
# 5! = 1 * 2 * 3 * 4 * 5 = 5 * 4 * 3 * 2 * 1
n = int(input("Please enter an integer: "))
if (n == 0 or n == 1): print ("1")
fact = 1
for i in range(1, n + 1):
    fact = fact * i
    print (i, fact)
print (fact)

Please enter an integer:  6

1 1
2 2
3 6
4 24
5 120
6 720
720

### User Defined Functions

In [3]:
def funct1():
    print ("Hello " * 3)
    
funct1()
funct1()
funct1()
funct1()

Hello Hello Hello
Hello Hello Hello
Hello Hello Hello
Hello Hello Hello

In [7]:
def funct2(msg, times):   # positional parameters
    print (msg * times)
    
funct2("Welcome ", 10)    # positional arguments
funct2("Hello ", 6)
funct2("Good Morning ", 8)

Welcome Welcome Welcome Welcome Welcome Welcome Welcome Welcome Welcome Welcome
Hello Hello Hello Hello Hello Hello
Good Morning Good Morning Good Morning Good Morning Good Morning Good Morning Good Morning Good Morning

In [8]:
def funct3(msg, times):
    return msg * times

result = funct3("Hello ", 7)
print (result)
result = funct3("Welcome ", 5)
print (result)
print (funct3("H! !!! ", 4))

Hello Hello Hello Hello Hello Hello Hello
Welcome Welcome Welcome Welcome Welcome
H! !!! H! !!! H! !!! H! !!!

In [18]:
# parameters with default arguments
def funct4(par1 = 111, par2 = 222, par3 = 333):
    print (f"par1 = {par1}, par2 = {par2} and par3 = {par3}...")
    
funct4(100, 200, 300)
funct4(100, 200)
funct4(100)
funct4()
funct4(par1 = 100, par3 = 300)
funct4(par3 = 300, par1 = 100)
funct4(par2 = 200)

par1 = 100, par2 = 200 and par3 = 300...
par1 = 100, par2 = 200 and par3 = 333...
par1 = 100, par2 = 222 and par3 = 333...
par1 = 111, par2 = 222 and par3 = 333...
par1 = 100, par2 = 222 and par3 = 300...
par1 = 100, par2 = 222 and par3 = 300...
par1 = 111, par2 = 200 and par3 = 333...

In [21]:
def funct5(par1, par2 = None):
    if (par2 == None):
        return par1 + par1
    else:
        return par1 + par2
        
print (funct5(100, 900))
print (funct5(100))

1000
200

In [24]:
def funct6(num1, num2):
    total = num1 + num2
    difference = num1 - num2
    product = num1 * num2
    quotient = num1 / num2
    return total, difference, product, quotient

tt, dd, pp, qq = funct6(100, 40)
print (f"Total = {tt}, Difference = {dd}, Product = {pp} and Quitient = {qq}")
result = funct6(100, 40)
print (result, type(result), len(result))
print (f"Total = {result[0]}, Difference = {result[1]}, Product = {result[2]} and Quitient = {result[3]}")

Total = 140, Difference = 60, Product = 4000 and Quitient = 2.5
(140, 60, 4000, 2.5) <class 'tuple'> 4
Total = 140, Difference = 60, Product = 4000 and Quitient = 2.5

In [28]:
# 5! = 1 * 2 * 3 * 4 * 5 = 5 * 4 * 3 * 2 * 1 = 120
# 6! = 1 * 2 * 3 * 4 * 5 * 6 = 6 * 5 * 4 * 3 * 2 * 1 = 720
# non-recursive factorial calculation code implementation
def factorial_nr(num):
    fact = 1
    for i in range(1, num + 1):   # iteration or looping, iterative function
        fact = fact * i
    return fact

n = 5
print (n, factorial_nr(n))
n = 6
print (n, factorial_nr(n))
n = 1
print (n, factorial_nr(n))

5 120
6 720
1 1

In [29]:
5! = 5  * 4 * 3 * 2 * 1 = 5 * 4!
# recursive factorial calculation code implementation
def factorial_r(num):
    if (num == 0 | num == 1): return 1    # Case-1: Base case
    return num * factorial_r(num - 1)     # Case-2: Recursive case, the function is calling itself

n = 5
print (n, factorial_r(n))
n = 6
print (n, factorial_r(n))
n = 1
print (n, factorial_r(n))

5 120
6 720
1 1