### Python Operators

In [1]:
# arithmetic operators
print (100 + 40)    # addition operation
print (100 - 40)    # subtraction operation
print (100 * 40)    # multiplication operation
print (100 / 40)    # float division operation
print (100 // 40)   # integer division operation
print (100 % 40)    # modulus (mod) operation
print (100 ** 4)    # exponentiation operation

140
60
4000
2.5
2
20
100000000

In [2]:
# relational operators
print (100 > 20, 100 >= 20, 100 < 20, 100 <= 20, 100 == 20, 100 != 20)
print (100 > 200, 100 >= 200, 100 < 200, 100 <= 200, 100 == 200, 100 != 200)

True True False False False True
False False True True False True

In [6]:
# logical operators
print (100 > 20 and 100 > 200)
print (True and True, True and False, False and True, False and False)
print (True or True, True or False, False or True, False or False)
print (not True, not False)

False
True False False False
True True True False
False True

### Python Conditional Statements

In [17]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
num3 = int(input("Please enter the third number: "))
if (num1 >= num2):
    if (num1 >= num3):
        print ("The first number is the maximum number...")
        print ("Maximum:", num1)
    else:
        print ("The third number is the maximum number...")
        print ("Maximum:", num3)
elif (num2 >= num3):
    print ("The second number is the maximum number...")
    print ("Maximum:", num2)
else:
    print ("The third number is the maximum number...")
    print ("Maximum:", num3)
print ("End of the program...")

Please enter the first number:  300
Please enter the second number:  100
Please enter the third number:  200

The first number is the maximum number...
Maximum: 300
End of the program...

In [44]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
num3 = int(input("Please enter the third number: "))
if (num1 >= num2 and num1 >= num3):
    print ("The first number is the maximum number...")
    print ("Maximum:", num1)
elif (num2 >= num3):
    print ("The second number is the maximum number...")
    print ("Maximum:", num2)
else:
    print ("The third number is the maximum number...")
    print ("Maximum:", num3)
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  300
Please enter the third number:  200

The second number is the maximum number...
Maximum: 300
End of the program...

### Python Loops

In [23]:
i = 1
while (i <= 8):
    print ("Looping for i =", i)
    i = i + 1
print ("End of the program...")

Looping for i = 1
Looping for i = 2
Looping for i = 3
Looping for i = 4
Looping for i = 5
Looping for i = 6
Looping for i = 7
Looping for i = 8
End of the program...

In [25]:
i = 1
while (i <= 8):
    print ("Looping for i =", i)
    if (i == 5): break
    i = i + 1
else:
    print ("Else block is executing...")
print ("End of the program...")

Looping for i = 1
Looping for i = 2
Looping for i = 3
Looping for i = 4
Looping for i = 5
End of the program...

In [26]:
for i in range(8):
    print ("Looping for i =",i)
print ("End of the program...")

Looping for i = 0
Looping for i = 1
Looping for i = 2
Looping for i = 3
Looping for i = 4
Looping for i = 5
Looping for i = 6
Looping for i = 7
End of the program...

In [27]:
for i in range(1, 10, 2):
    print ("Looping for i =",i)
print ("End of the program...")

Looping for i = 1
Looping for i = 3
Looping for i = 5
Looping for i = 7
Looping for i = 9
End of the program...

In [29]:
for i in range(8):
    print ("Looping for i =",i)
    if (i == 5): break
else:
    print ("Executing the ELSE block...")
print ("End of the program...")

Looping for i = 0
Looping for i = 1
Looping for i = 2
Looping for i = 3
Looping for i = 4
Looping for i = 5
End of the program...

In [34]:
print ("Hello " * 5)
print ("Welcome !!! " * 5)

Hello Hello Hello Hello Hello
Welcome !!! Welcome !!! Welcome !!! Welcome !!! Welcome !!!

In [ ]:
n = 6          i    .    *
             ---------------
.....*         1    5    1
....***        2    4    3   . => (n - i)
...*****       3    3    5
..*******      4    2    7   * => 2 * i - 1
.*********     5    1    9
***********    6    0   11
             ---------------

In [39]:
n = int(input("Please enter the number of levels: "))
for i in range(1, n + 1):
    print ("." * (n - i) + "*" * (2 * i - 1))
print ("End of the program...")

Please enter the number of levels:  6

.....*
....***
...*****
..*******
.*********
***********
End of the program...

In [42]:
# Find the factorial of a given number
# n! = 1 * 2 * 3 * 4 * ... * n
# n! = n * (n - 1) * (n - 2) * (n - 3) * ... * 1
# 5! = 1 * 2 * 3 * 4 * 5 = 5 * 4 * 3 * 2 * 1
n = int(input("Please enter an integer: "))
if (n == 0 or n == 1): print ("1")
fact = 1
for i in range(1, n + 1):
    fact = fact * i
    print (i, fact)
print (fact)

Please enter an integer:  6

1 1
2 2
3 6
4 24
5 120
6 720
720

### User Defined Functions

In [3]:
def funct1():
    print ("Hello " * 3)
    
funct1()
funct1()
funct1()
funct1()

Hello Hello Hello
Hello Hello Hello
Hello Hello Hello
Hello Hello Hello

In [7]:
def funct2(msg, times):   # positional parameters
    print (msg * times)
    
funct2("Welcome ", 10)    # positional arguments
funct2("Hello ", 6)
funct2("Good Morning ", 8)

Welcome Welcome Welcome Welcome Welcome Welcome Welcome Welcome Welcome Welcome
Hello Hello Hello Hello Hello Hello
Good Morning Good Morning Good Morning Good Morning Good Morning Good Morning Good Morning Good Morning

In [8]:
def funct3(msg, times):
    return msg * times

result = funct3("Hello ", 7)
print (result)
result = funct3("Welcome ", 5)
print (result)
print (funct3("H! !!! ", 4))

Hello Hello Hello Hello Hello Hello Hello
Welcome Welcome Welcome Welcome Welcome
H! !!! H! !!! H! !!! H! !!!

In [18]:
# parameters with default arguments
def funct4(par1 = 111, par2 = 222, par3 = 333):
    print (f"par1 = {par1}, par2 = {par2} and par3 = {par3}...")
    
funct4(100, 200, 300)
funct4(100, 200)
funct4(100)
funct4()
funct4(par1 = 100, par3 = 300)
funct4(par3 = 300, par1 = 100)
funct4(par2 = 200)

par1 = 100, par2 = 200 and par3 = 300...
par1 = 100, par2 = 200 and par3 = 333...
par1 = 100, par2 = 222 and par3 = 333...
par1 = 111, par2 = 222 and par3 = 333...
par1 = 100, par2 = 222 and par3 = 300...
par1 = 100, par2 = 222 and par3 = 300...
par1 = 111, par2 = 200 and par3 = 333...

In [21]:
def funct5(par1, par2 = None):
    if (par2 == None):
        return par1 + par1
    else:
        return par1 + par2
        
print (funct5(100, 900))
print (funct5(100))

1000
200

In [24]:
def funct6(num1, num2):
    total = num1 + num2
    difference = num1 - num2
    product = num1 * num2
    quotient = num1 / num2
    return total, difference, product, quotient

tt, dd, pp, qq = funct6(100, 40)
print (f"Total = {tt}, Difference = {dd}, Product = {pp} and Quitient = {qq}")
result = funct6(100, 40)
print (result, type(result), len(result))
print (f"Total = {result[0]}, Difference = {result[1]}, Product = {result[2]} and Quitient = {result[3]}")

Total = 140, Difference = 60, Product = 4000 and Quitient = 2.5
(140, 60, 4000, 2.5) <class 'tuple'> 4
Total = 140, Difference = 60, Product = 4000 and Quitient = 2.5

In [28]:
# 5! = 1 * 2 * 3 * 4 * 5 = 5 * 4 * 3 * 2 * 1 = 120
# 6! = 1 * 2 * 3 * 4 * 5 * 6 = 6 * 5 * 4 * 3 * 2 * 1 = 720
# non-recursive factorial calculation code implementation
def factorial_nr(num):
    fact = 1
    for i in range(1, num + 1):   # iteration or looping, iterative function
        fact = fact * i
    return fact

n = 5
print (n, factorial_nr(n))
n = 6
print (n, factorial_nr(n))
n = 1
print (n, factorial_nr(n))

5 120
6 720
1 1

In [29]:
5! = 5 * 4 * 3 * 2 * 1 = 5 * 4!
# recursive factorial calculation code implementation
def factorial_r(num):
    if (num == 0 | num == 1): return 1    # Case-1: Base case
    return num * factorial_r(num - 1)     # Case-2: Recursive case, the function is calling itself

n = 5
print (n, factorial_r(n))
n = 6
print (n, factorial_r(n))
n = 1
print (n, factorial_r(n))

5 120
6 720
1 1

In [32]:
def funct7(num1, num2, choice):
    if (choice == 1): return num1 + num2
    elif (choice == 2): return num1 - num2
    elif (choice == 3): return num1 * num2
    elif (choice == 4): 
        if (num2 == 0): return "Division by ZERO is Illegal..."
        else: return num1 / num2
    else: return "Invalid Choice Number..."

num1 = 100
num2 = 40
print (funct7(num1, num2, 1))
print (funct7(num1, num2, 2))
print (funct7(num1, num2, 3))
print (funct7(num1, num2, 4))
print (funct7(num1, 0, 4))
print (funct7(num1, num2, 5))

140
60
4000
2.5
Division by ZERO is Illegal...
Invalid Choice Number...

### Python Collectoins

### List Processing

In [4]:
list1 = [100, 200, 300, 600, 500]
print (list1, len(list1), type(list1), id(list1))
print (min(list1), max(list1))
print (sum(list1), sum(list1) / len(list1))

[100, 200, 300, 600, 500] 5 <class 'list'> 2318680303872
100 600
1700 340.0

In [7]:
list1 = ['red', 'green', 'blue', 'black', 'white']
print (list1, len(list1), type(list1), id(list1))
print (min(list1), max(list1))
# print (sum(list1), sum(list1) / len(list1))

['red', 'green', 'blue', 'black', 'white'] 5 <class 'list'> 2318680182464
black white

In [8]:
list1 = ['red', 'green', 100, True, 'blue', 'black', 22.5, False, 'white']
print (list1, len(list1), type(list1), id(list1))
print (min(list1), max(list1))
# print (sum(list1), sum(list1) / len(list1))

['red', 'green', 100, True, 'blue', 'black', 22.5, False, 'white'] 9 <class 'list'> 2318680302592

TypeError: '<' not supported between instances of 'int' and 'str'

In [17]:
list1 = [100, 200, 400]
print (list1, len(list1))
list1.append(500)
print (list1, len(list1))
list1.append(340)
print (list1, len(list1))

[100, 200, 400] 3
[100, 200, 400, 500] 4
[100, 200, 400, 500, 340] 5

In [21]:
list1 = [100, 200, 400]
print (list1, len(list1))
list1.insert(1, 450)
print (list1, len(list1))
list1.insert(0, 1000)
print (list1, len(list1))

[100, 200, 400] 3
[100, 450, 200, 400] 4
[1000, 100, 450, 200, 400] 5

In [18]:
list1 = [100, 200, 400]
print (list1, len(list1))
list1[1] = 250
print (list1, len(list1))

[100, 200, 400] 3
[100, 250, 400] 3

In [22]:
list1 = [100, 200, 400]
print (list1, len(list1))
list1.clear()
print (list1, len(list1))

[100, 200, 400] 3
[] 0

In [25]:
list1 = [100, 200, 400, 500, 600, 250]
print (list1, len(list1))
del list1[2]
print (list1, len(list1))
del list1[3]
print (list1, len(list1))
del list1
print (list1, len(list1))

[100, 200, 400, 500, 600, 250] 6
[100, 200, 500, 600, 250] 5
[100, 200, 500, 250] 4

NameError: name 'list1' is not defined

In [30]:
list1 = [100, 200, 400, 500, 600, 250]
print (list1, len(list1))
list2 = [111, 222, 444, 555]
print (list2, len(list2))
list3 = list1 + list2
print (list3, len(list3))
list4 = [list1, list2]
print (list4, len(list4))
print (list4[1][1])

[100, 200, 400, 500, 600, 250] 6
[111, 222, 444, 555] 4
[100, 200, 400, 500, 600, 250, 111, 222, 444, 555] 10
[[100, 200, 400, 500, 600, 250], [111, 222, 444, 555]] 2
222

### Tuple Processing

In [10]:
tuple1 = (100, 200, 300, 600, 500)
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (min(tuple1), max(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 200, 300, 600, 500) 5 <class 'tuple'> 2318679252800
100 600
1700 340.0

In [14]:
tuple1 = ('red', 'green', 'blue', 'black', 'white')
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (min(tuple1), max(tuple1))
# print (sum(tuple1), sum(tuple1) / len(tuple1))

('red', 'green', 'blue', 'black', 'white') 5 <class 'tuple'> 2318680266928
black white

In [15]:
tuple1 = ('red', 'green', 100, True, 'blue', 'black', 22.5, False, 'white')
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
# print (min(tuple1), max(tuple1))
# print (sum(tuple1), sum(tuple1) / len(tuple1))

('red', 'green', 100, True, 'blue', 'black', 22.5, False, 'white') 9 <class 'tuple'> 2318668845456

In [19]:
tuple1 = (100, 200, 400)
print (tuple1, len(tuple1))
tuple1[1] = 250
print (tuple1, len(tuple1))

(100, 200, 400) 3

TypeError: 'tuple' object does not support item assignment

### Dictionary Processing

In [34]:
dict1 = {"mango":340, "banana":650, "guava":320, "orange":560}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.keys())
print (dict1.values())
print (dict1.items())

{'mango': 340, 'banana': 650, 'guava': 320, 'orange': 560} 4 <class 'dict'> 2318699857984
dict_keys(['mango', 'banana', 'guava', 'orange'])
dict_values([340, 650, 320, 560])
dict_items([('mango', 340), ('banana', 650), ('guava', 320), ('orange', 560)])

In [36]:
dict1 = {"mango":340, "banana":650, "guava":320, "orange":560}
print (dict1, len(dict1), type(dict1), id(dict1))
dict1["orange"] = 900   # update operation on dictionary
print (dict1, len(dict1), type(dict1), id(dict1))
dict1["lemon"] = 870   # insert operation on dictionary
print (dict1, len(dict1), type(dict1), id(dict1))

{'mango': 340, 'banana': 650, 'guava': 320, 'orange': 560} 4 <class 'dict'> 2318700088256
{'mango': 340, 'banana': 650, 'guava': 320, 'orange': 900} 4 <class 'dict'> 2318700088256
{'mango': 340, 'banana': 650, 'guava': 320, 'orange': 900, 'lemon': 870} 5 <class 'dict'> 2318700088256

In [39]:
dict1 = {"mango":340, "banana":650, "guava":320, "orange":560}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.pop("guava"))
print (dict1, len(dict1), type(dict1), id(dict1))

{'mango': 340, 'banana': 650, 'guava': 320, 'orange': 560} 4 <class 'dict'> 2318699856896
320
{'mango': 340, 'banana': 650, 'orange': 560} 3 <class 'dict'> 2318699856896

In [44]:
dict1 = {"mango":340, "banana":650, "guava":320, "orange":560}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.popitem())
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.popitem())
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.popitem())
print (dict1, len(dict1), type(dict1), id(dict1))

{'mango': 340, 'banana': 650, 'guava': 320, 'orange': 560} 4 <class 'dict'> 2318681173120
('orange', 560)
{'mango': 340, 'banana': 650, 'guava': 320} 3 <class 'dict'> 2318681173120
('guava', 320)
{'mango': 340, 'banana': 650} 2 <class 'dict'> 2318681173120
('banana', 650)
{'mango': 340} 1 <class 'dict'> 2318681173120

In [48]:
dict1 = {"mango":340, "banana":650, "guava":320, "orange":560}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1["banana"])
print (dict1["lemon"])

{'mango': 340, 'banana': 650, 'guava': 320, 'orange': 560} 4 <class 'dict'> 2318699394816
650

KeyError: 'lemon'

In [51]:
dict1 = {"mango":340, "banana":650, "guava":320, "orange":560}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.get("banana"))
print (dict1.get("banana", "Not available..."))
print (dict1.get("lemon"))
print (dict1.get("lemon", "Not available..."))

{'mango': 340, 'banana': 650, 'guava': 320, 'orange': 560} 4 <class 'dict'> 2318701051456
650
650
None
Not available...

### Set Processing

In [53]:
languages = set(['java', 'c', 'perl', 'java', 'perl', 'python', 'python'])
print (languages, len(languages))

{'python', 'java', 'perl', 'c'} 4

In [58]:
# union operation
languages = set(['java', 'c', 'python'])
print (languages, len(languages))
snakes = set(['python', 'cobra', 'viper'])
print (snakes, len(snakes))
print (snakes.union(languages))
print (snakes | languages)

{'java', 'python', 'c'} 3
{'cobra', 'python', 'viper'} 3
{'cobra', 'python', 'c', 'java', 'viper'}
{'cobra', 'python', 'c', 'java', 'viper'}

In [59]:
# intersection operation
languages = set(['java', 'c', 'python'])
print (languages, len(languages))
snakes = set(['python', 'cobra', 'viper'])
print (snakes, len(snakes))
print (snakes.intersection(languages))
print (snakes & languages)

{'java', 'python', 'c'} 3
{'cobra', 'python', 'viper'} 3
{'python'}
{'python'}

In [60]:
# difference operation
languages = set(['java', 'c', 'python'])
print (languages, len(languages))
snakes = set(['python', 'cobra', 'viper'])
print (snakes, len(snakes))
print (snakes.difference(languages))
print (snakes - languages)

{'java', 'python', 'c'} 3
{'cobra', 'python', 'viper'} 3
{'cobra', 'viper'}
{'cobra', 'viper'}

In [61]:
languages = set(['java', 'c', 'python'])
print (languages, len(languages))
snakes = set(['python', 'cobra', 'viper'])
print (snakes, len(snakes))
print (snakes.symmetric_difference(languages))
print (snakes ^ languages)

{'java', 'python', 'c'} 3
{'cobra', 'python', 'viper'} 3
{'c', 'cobra', 'java', 'viper'}
{'c', 'cobra', 'java', 'viper'}

In [67]:
languages = set(['java', 'c', 'python'])
print (languages, len(languages))
languages.add('kotlin')
languages.add('haskel')
print (languages, len(languages))

{'java', 'python', 'c'} 3
{'haskel', 'c', 'kotlin', 'python', 'java'} 5

In [68]:
languages = set(['java', 'c', 'python'])
print (languages, len(languages))
languages.remove('c')
languages.remove('java')
print (languages, len(languages))

{'java', 'python', 'c'} 3
{'python'} 1

In [69]:
languages = set(['java', 'c', 'python'])
print (languages, len(languages))
languages.remove('c')
languages.add('c++')
print (languages, len(languages))

{'java', 'python', 'c'} 3
{'java', 'c++', 'python'} 3

### Frozenset Processing

In [62]:
# union operation
languages = frozenset(['java', 'c', 'python'])
print (languages, len(languages), type(languages))
snakes = frozenset(['python', 'cobra', 'viper'])
print (snakes, len(snakes), type(snakes))
print (snakes.union(languages))
print (snakes | languages)

frozenset({'java', 'python', 'c'}) 3 <class 'frozenset'>
frozenset({'cobra', 'python', 'viper'}) 3 <class 'frozenset'>
frozenset({'cobra', 'python', 'c', 'java', 'viper'})
frozenset({'cobra', 'python', 'c', 'java', 'viper'})

In [63]:
# intersection operation
languages = frozenset(['java', 'c', 'python'])
print (languages, len(languages), type(languages))
snakes = frozenset(['python', 'cobra', 'viper'])
print (snakes, len(snakes), type(snakes))
print (snakes.intersection(languages))
print (snakes & languages)

frozenset({'java', 'python', 'c'}) 3 <class 'frozenset'>
frozenset({'cobra', 'python', 'viper'}) 3 <class 'frozenset'>
frozenset({'python'})
frozenset({'python'})

In [65]:
# difference operation
languages = frozenset(['java', 'c', 'python'])
print (languages, len(languages), type(languages))
snakes = frozenset(['python', 'cobra', 'viper'])
print (snakes, len(snakes), type(snakes))
print (snakes.difference(languages))
print (snakes - languages)

frozenset({'java', 'python', 'c'}) 3 <class 'frozenset'>
frozenset({'cobra', 'python', 'viper'}) 3 <class 'frozenset'>
frozenset({'cobra', 'viper'})
frozenset({'cobra', 'viper'})

In [70]:
# symmetric difference operation
languages = frozenset(['java', 'c', 'python'])
print (languages, len(languages), type(languages))
snakes = frozenset(['python', 'cobra', 'viper'])
print (snakes, len(snakes), type(snakes))
print (snakes.symmetric_difference(languages))
print (snakes ^ languages)

frozenset({'java', 'python', 'c'}) 3 <class 'frozenset'>
frozenset({'cobra', 'python', 'viper'}) 3 <class 'frozenset'>
frozenset({'c', 'cobra', 'java', 'viper'})
frozenset({'c', 'cobra', 'java', 'viper'})